<!-- header.html -->
<header id="header" class="">
	<div class="w3-panel w3-white w3-border w3-border-light-grey">
		<div class="w3-row">
			<div class="w3-col l3 m3 s2">
				<h4>MINI {% if page_name %}{{page_name}}{% endif %}</h4>
			</div>
			<div class="w3-col l3 m3 s2">
				<br>
			</div>
			<div class="w3-col l3 m3 s2 w3-center">
				
				<a href="{% url 'mini_dashboard' %}" class="w3-text-green w3-hover-text-red">DASHBOARD</a>    
				<a href="{% url 'mini_IDE' %}" class="w3-text-green w3-hover-text-red">IDE</a>
			</div>
		</div>
	</div>
</header><!-- /header -->